$body-background-color: $grey-dk-300;
$sidebar-color: $grey-dk-300;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: $green-000; // changed by @aidswidjaja from $blue-000 to $green-000
$btn-primary-color: $green-200; // changed by @aidswidjaja from $blue-200 to $green-200
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;

@media (min-width: 31.25rem) { .site-title { font-size: 18px !important; font-weight: 700;} } // @aidswidjaja