---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---
// Custom
.site-title {font-size: 20px;}
a {color: #41d693;}

{% if site.logo %}
$logo: "{{ site.logo | absolute_url }}";
{% endif %}

//
// Import external dependencies
//

@media (min-width: 31.25rem) { .site-title { font-size: 20px !important; } }

@import "./vendor/normalize.scss/normalize.scss";

//
// Import Just the Docs scss
//

// Support
@import "./support/support";

//
// Import custom overrides
//

@import "./custom/custom";

//
// Import custom color scheme scss
//

{% if site.color_scheme == "dark" %}
@import "./color_schemes/dark.scss";
{% endif %}

// Modules
@import "./base";
@import "./layout";
@import "./content";
@import "./navigation";
@import "./typography";
@import "./labels";
@import "./buttons";
@import "./search";
@import "./tables";
@import "./code";
@import "./utilities/utilities";
@import "./overrides";

// Custom
@media (min-width: 31.25rem) { .site-title { font-size: 20px !important; } }
a {color: #41d693;}
